h1 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 20px;
 }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}


ol li {
    list-style-type: circle;
    padding: 10px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

p{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#button1 {
    background-color: rgb(0, 68, 255);
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#button2 {
    background-color: rgb(6, 184, 0);
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#button3 {
    background-color: rgb(255, 108, 108);
    color: white;
    padding: 5px 10px;
    text-align: right;
    text-decoration: none;
    border-radius: 8px;
    float: right;
    font-size: 16px;
    cursor: pointer;
}